<!DOCTYPE html>
<html>
<head>
  <title>Hubum</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://www.youtube.com/iframe_api"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
  <div class='site'>
  <%= yield %>
  <%= react_component 'YoutubePlayer' %>
  </div>
  <div class='responsive-explainer'>
    <div>
    This is supposed to be a desktop app 😇
    <div>
      <a href='http://facebook.com/groups/hubum'>Go to the group</a>
    </div>
    </div>
  </div>
</body>
</html>
