<!DOCTYPE html>
<html>
<head>
  <title>Hubum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://www.youtube.com/iframe_api"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= react_component 'YoutubePlayer' %>
</body>
</html>
